<section class="section-cite">
  <div class="container">
    <div class="row align-items-center justify-content-center">
        <h1 class="section-heading" id="timeline">Cite Us</h1>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <p class="lead">We are excited to announce that we have published an early exploration of the efficacy of the Network Canvas tool.</p>
        <p>If you wish to reference our software in an upcoming paper or grant proposal, please use the following citation:</p>
        <div class="card"><a href="http://dl.acm.org/citation.cfm?id=2858368" target="_blank">Hogan, B., Melville, J. R., Phillips II, G. L., Janulis, P., Contractor, N., Mustanski, B. S., &amp; Birkett, M. (2016). Evaluating the Paper-to-Screen Translation of Participant-Aided Sociograms with High-Risk Participants. In <em>Proceedings of the 2016 CHI Conference on Human Factors in Computing Systems</em> (pp. 5360-5371). ACM. Chicago</a></div>
      </div>
    </div>
  </div>
</section>
