<section class="section-who">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <h1 class="section-heading" id="team">Who We Are</h1>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <p>The Network Canvas project is funded by the National Institutes of Health (<a href="https://projectreporter.nih.gov/project_info_description.cfm?aid=9306043&icde=34393852">R01DA042711</a>) and led by researchers in the <a href="https://isgmh.northwestern.edu/">Institute for Sexual and Gender Minority Health and Wellbeing</a> at Northwestern University, with research partners at the <a href="https://www.oii.ox.ac.uk/people/bernie-hogan/">University of Oxford</a>, <a href="http://www.jhsph.edu/faculty/directory/profile/2654/cui-yang">Johns Hopkins University</a>, and <a href="https://sph.emory.edu/faculty/profile/#!NDCRAWF">Emory University</a>, and an international advisory board of social network and public health researchers.</p>

      </div>
    </div>
    <h2>Project Team</h2>
    <!-- <p>The team involved in the creation of <em>netCanvas-R</em> is comprised of scholars at the <a href="http://www.oii.ox.ac.uk" alt="Oxford Internet Institute" target="_blank">Oxford Internet Institute</a>, University of Oxford, and the <a href="http://www.impactprogram.org/" alt="Impact Progam" target="_blank">Impact Program</a> at Northwestern University.</p> -->
    <div class="row">
      <div class="col">
        <strong>Principal Investigators:</strong> Drs. Michelle Birkett and Gregory Phillips II<br />
        <strong>Co-Investigators:</strong> Drs. Patrick Janulis, Bernie Hogan, Noshir Contractor, and Michael Bass<br />
        <strong>Development Team:</strong> Jamie Chung, Rebecca Madsen, Steve McKellar (Team Garlic UK), Joshua Melville, Matt Meshulam, and Ronald Pedagat</br />
        <strong>Project Staff:</strong> Kate Banner, Shawna Davis, Elizabeth McConnell, and Balint Neray<br />
        <strong>Test Site Leaders:</strong> Dr. Natalie Crawford, Dr. Cui Yang<br />
        <strong>Scientific Advisory Board:</strong> Dr. Brian Mustanski, Dr. Richard D’Aquila, Dr. Martin Everett, Dr. jimi adams, Dr. Abel Kho<br />
      </div>
    </div>
  </div>
</section>
