<section class="section-nc">
  <div class="container">
    <div class="row align-items-center justify-content-center">
        <h1 class="section-heading" id="timeline">Our Timeline</h1>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <p class="lead">We want the Network Canvas suite of tools to be high quality, safe for research, and built to last.</p>
        <p>This means that our development process is mapped out in years, rather than weeks or months. However, there are many opportunities to become involved in the project, and to try out our tools before the stable release. Below you can find the key phases of the project summarized.</p>
        <ul>
          <li>We will shortly be commencing with our <strong>alpha phase</strong>, where selected test sites will have access to experimental versions of the software that are not yet ready for public use.</li>
          <li>We will then enter a <strong>public beta phase</strong>, where we invite the wider community to test Network Canvas. We would welcome enquiries from those of you with research projects that would fit this timeframe. During the beta period, our website will host a platform for community feedback, feature requests and discussions. Pre-packaged versions of the suite will be available to download. We anticipate that a public beta of the full suite will be available in April 2019.</li>
          <li>Finally, we will enter the <strong>stable release phase</strong>, where we will work with the research community to deliver trainings and workshops to help foster uptake. We will also compile example research instruments created in Network Canvas and make in-depth tutorials of different strategies for using Network Canvas. </li>
        </ul>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <img class="img-fluid timeline hidden-sm-down" src="./images/png/timeline.png" alt="Project timeline">
      </div>
    </div>
  </div>
</section>
