// brand colors for the site
$mariner: #2577c1;
$ocean-green:	#409e72;
$port-gore:	#1c1a4c;
$tussock:	#be8e3a;
$pomegranate:	#f44336;

//Primary
$site-color: #e2215b;
$mustard: #f2b700;
$light-sea-green: #00c9a2;
$white: #ffffff;
$slate-blue: #6b72ec;
$navy-taupe: #2d2955;
$cyber-grape: #3a4a75;
$rich-black: #16152b;

//Secondary
$sea-serpent: #0fb2e2;
$purple-pizazz: #d30fef;
$paradise-pink: #ff3a8c;
$cerulean-blue: #0f70ff;
$kiwi: #70bf54;

//Tertiary

$neon-carrot: #f7891e;
$barbie-pink: #ed008c;
$tomato: #e82d3f;

//Light

$charcoal: #6d6f76;
$platinum: #f2f6f7;
$dark-platinum: #dae3e5;

$font-family-base:       "Rajdhani", "Roboto", "Lucida Grande", Helvetica, sans-serif;



$brand-primary:             $mariner;
$brand-success:             $ocean-green;
$brand-info:                $port-gore;
$brand-warning:             $tussock;
$brand-danger:              $pomegranate;


$inverse-bg:    $white;
$inverse-color: $rich-black;

$spacer:   3rem;
$line-height-base: 1.6;
